html,
body {
    margin: 0;
}

#App {
    /* Give app full page to work with */
    height: 100vh;
}

#page-wrap {
    text-align: center;
    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
}

/* Individual item */
.bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #2e3e48;
    transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
    color: #ddad88;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 46px;
    top: 46px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: rgb(0, 0, 0);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #2e3e48;
}

/* General sidebar styles */
.bm-menu {
    background: white;
    padding: 2.5em 1.5em 0;
    font-size: calc(25px + 1vmin);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #ff0062;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
